.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.barra {
    width: 20px;
    height: 100px;
    background-color: black;
    margin-bottom: 0px;
}

.rectangulo {
    border-radius: 2cap;
    padding: 2cap;
    display: inline-block;
    background-color: black;
}

.verde {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: green;
}

.amarilla {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: yellow;
}

.roja {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: red;
}

.brillo {
    box-shadow: 0px 0px 10px 10px white;
}

